/* Adds the toyota dealership to the background */
body {
    background-image: url("background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 100%;
    font-family: myriad-pro, Verdana, sans-serif;
}

/* Styling for financing details */
#offer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: -3.85% auto 10% auto;
    width: 30%;
}

#offer li {
    display: inline-block;
    font-size: 2.1em;
    margin-left: 15%;
    margin-right: 8%;
    text-align: center;
}

#offer p {
    font-size: .5em;
    margin-top: -5%
}

/* Styling for car model description bullets */
#bullets {
    width: 35%;
    margin: -10% auto auto 15%;
    height:  20px;
}
    
 #bullets li {
    width: 100%;
    list-style: none;
    font-size: 1em;
}

#bullets li:before {
   content: "- ";
}

/* Styling for Buttons */
.buttons {
    background-color: #eb0a1e;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 1em;
    width: 27.5%;
    font-weight: bold;
    margin-left: 52.75%;
    margin-top: -50%;
}

button:hover {
    cursor: pointer;
}

#dealer_button {
    width: 78.5%;
    position: relative;
    bottom: -20px;
    margin-left: 11.5%;
    margin-right: -10%;
    z-index: 2;
}

/* Stlying for picture of car model */
#header_img {
    margin-left: 48%;
    width: 34%;
    margin-top: 12%;
    -webkit-animation: fadeIn 3s;
}
@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}

#year_and_make {
    margin-top: -11%;
    margin-left: 16%;
    margin-bottom: 6.5%;
    color: white;
    font-size: 2.1em;
}

/* Styling for error state page */
#full_lineup {
    margin-left: 46.5%;
    margin-top: 20.5%;
    width: 41%;
}

#no_offer {
    font-size: 2.1em;
    text-align: center;
    margin-top: 13%;
    margin-bottom: 12%;
}

/*  The following code adjusts
    some items for different
    screen widths
*/
@media screen and (min-width: 1360px) {
    #offer ul{
        margin-top:-2%;
    }
}

@media screen and (max-width: 750px) {
    #year_and_make {
        margin-top: -12%;
        font-size: 1.25em       
    }
}
   
@media screen and (max-width: 500px) {
    #year_and_make {
        margin-top: -15%;
        font-size: 1.25em;
    }

    #bullets ul {
        width: 100%;
    }

    #bullets li {
        margin-left: 10%;
        width: 100%;
        list-style: none;
        font-size: 1em;
    }

    #bullets {
        width: 100%;
        margin-left: -10%;
    }

    #dealer_button {
        display: block;
        width: 100%;
        margin: 10%;
        height: 100px;
        font-size: 1.4em;
    }

    #quote_button {
        display: block;
        width: 100%;
        margin-top: 120px;
        margin-left: -10%;
        height: 100px;
        font-size: 1.4em;
    }

    #outer {
        display: block;
        width: 100%;
        margin: 10% 10% 10% 10%;
        height: 100px;
    }
}